name: SW4RD CHEAT BOT 24/7

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 */5 * * *' # Re-run every 5 hours to ensure it stays alive
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pycryptodome protobuf-decoder cfonts flask aiohttp pytz pyjwt

      - name: Run Bot
        timeout-minutes: 340 # GitHub Actions has a 6-hour limit (360 mins), we stop at 340 to restart cleanly
        run: |
          python main.py
